* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 100%;
}

ul {
    list-style: none;
}
 


.underline {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.white {
    color: white;
}

header {
    background-image: url(./images/assets/bg01.jpg);
}

#navbar {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 0 15%;
    /* padding: 10px; */
}

#title-navbar a {
    color: white;
    text-decoration: none;
} 

#title-navbar {
    display: flex;
    align-items: center;
}

#ul-navbar {
    display: flex;
    align-items: center;
}

.li-navbar {
    margin: 0px 20px;
}

.li-navbar a {
    text-decoration: none;
    color: rgb(156, 152, 152);
    font-size: 20px;
}

#hr-navbar {
    border-top: 1px solid rgb(43, 43, 43);
    border-bottom: 1px solid rgb(54, 54, 54) ;
}

/* BANNIERE */



#banniere {
    margin: 0 15%;
}

#padding-banniere {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    /* padding: 0px 400px; */
}


#p-banniere {
    font-size: 35px;
    color: rgb(201, 198, 198);
}

#button-banniere {
    height: 40px;
    width: 150px;
    background-color: rgb(255, 72, 0);
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    margin-top: 5%;
    border-radius: 5px;
    padding: 0;
    border: none;
    cursor: pointer;
}


#img-banniere {
    border: 10px solid white;
    /* width: 100%; */
    /* height: auto; */
}

#hr-info {
    border-top: 1px solid rgb(71, 71, 71);
    border-bottom: 1px solid rgb(43, 43, 43) ;
}


/* INFO */

#section-info {
    background-image: url(./images/assets/bg02.jpg);
}

#info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 300px;
    margin: 0 15%;
}

/* .bloc-info {
    margin: 500px 0;

} */


.img-info {
    border: 10px solid white;
    width: 90%;
}

.title-info {
    color: white;
    font-size: 20px;
    margin: 20px 0;
}

.text-info {
    color: rgb(201, 198, 198);
}

/*  CARD  */

#section-card {
    background-image: url(./images/assets/bg04.png);
}

#card {
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
}

.content-card {
    width: 350px;
    height: 400px;
    padding: 10px 10px;
    background-color: white;
    box-shadow: 3px 5px 5px rgb(204, 202, 202);
    margin: 50px 0px;
}

.title-card {
    
    color: black;
    font-size: 30px;
}

.subtitle-card {
    color: rgb(156, 155, 155);
    margin-top: 5px;
}

#img-card {
    margin-top: 30px;
}

.hr-card {
    display: block; 
    height: 0px;
    width: 90%;
    border: 0; 
    border-top: 1px solid rgb(158, 158, 158);
    border-bottom: 1px solid rgb(255, 255, 255) ;
    margin: 1.3em 0; 
    padding: 0;
}

#text-card {
    color: rgb(90, 88, 88);
    line-height: 30px;
    margin-top: 30px;
}

.content-card ul {
    margin-top: 50px;
}

.li-card {
    display: flex;
}

.li-card img {
    margin-right: 10px;
}


.client-card {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.avis-card {
    margin-left: 15px;
}

.com-client {
    font-style: italic;
    font-size: 25px;
    color: grey;
}

.name-client {
    font-weight: bold;
    margin-top: 10px;
}

/* FOOTER */

#end {
    background-image: url(./images/assets/bg03.jpg);
    height: 500px;

}

#content-end {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
}

#ul-end {
    display: flex;
    margin-top: 20px;
}

#ul-end li{
    margin-right: 50px;
    color: grey;

}

.title-end {
    margin-top: 50px;
    font-size: 30px;
    color: rgb(73, 72, 72);
}

.hr-end {
    display: block; 
    height: 0px;
    width: 90%;
    border: 0; 
    border-top: 1px solid rgb(158, 158, 158);
    border-bottom: 1px solid rgb(255, 255, 255) ;
    padding: 0;
    margin: 10px 0px;
}

#ul-end a {
    color: rgb(134, 134, 134);
}

#bloctext-end {
    margin-left: 50px;
}

#text-end {
    color: rgb(134, 134, 134);
    line-height: 2;
    margin-top: 20px;
    font-size: 20px;
}

#contact-hr {
    margin: 50px 0;
    display: block; 
    height: 0px;
    border: 0; 
    border-top: 1px solid rgb(158, 158, 158);
    border-bottom: 1px solid rgb(255, 255, 255) ;
    padding: 0;
}

#contact-text {
    color: rgb(158, 155, 155);
    text-align: center;

}

.underline-end {
    text-decoration: underline;
    cursor: pointer;
}


/* RESPONSIVE */

@media screen and (max-width: 1140px) {

    /* NAVBAR */


    /* BANNIERE */

    #img-banniere {
        width: 100%;
    }

    /* INFO */

    /* .bloc-info {
        
    
    } */

    .img-info {
        width: 80%;
    }

    /* .title-info {
        color: white;
        font-size: 10px;
        margin: 20px 0;
    } */
    
    /* .text-info {
        color: rgb(201, 198, 198);
    } */





}

@media screen and (max-width: 960px) {

    /* NAVBAR */
    #title-navbar {
        display: block;
        margin: auto;
    }

    #ul-navbar {
        display: none;
    }

    /* BANNIERE */

    

    #p-banniere {
        font-size: 22px;
    }

    #button-banniere {
        height: 30px;
        width: 120px;
    }

    /* INFO */

    





}

@media screen and (max-width: 720px) {

    /* NAVBAR */
    /* BANNIERE */

    #banniere {
        height: 300px;
    }

    #padding-banniere {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30%;
    }

    #img-banniere {
        /* width: 50%; */
    }

    #p-banniere {
        font-size: 25px;
        text-align: center;
        margin: 10% 0;
    }

    #button-banniere {
        height: 50px;
        width: 160px;
        display: block;
        margin: auto;
    }

    /* INFO */
    /* CARD */
    /* END */


}

@media screen and (min-width: 540px) {

    /* NAVBAR */
    /* BANNIERE */
    /* INFO */
    /* CARD */
    /* END */


}




